@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/static/assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
}

form{
    padding: 0 3em;
}

#login .title > span { 
    font-size: .8em;
}

@media only screen and (max-width: 1000px) {
    body{
        background-size: contain;
        
    }
  }

@media (max-width: 992px) { 
    #login-container{
        min-width: 75% !important;
    }
    #dashboard-container{
        min-width: 75% !important;
    }
 }